/*
 * Utilities
 */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.alert-dismissible {
    position: absolute;
    left: 0;
    right: 0;
}

.img-thumb {
    max-height: 32px;
    max-width: 32px;
    border: 2px solid #cccc;
    border-radius: 5px;
}
.img-thumb-64 {
    max-height: 64px;
    max-width:64px;
    border: 2px solid #cccc;
    border-radius: 5px;
}
.img-thumb-x64{
    max-width: 64px;
}
.img-thumb-y64{
    max-height: 64px;
}
.img-thumb-128 {
    max-height: 64px;
    max-width:64px;
    border: 2px solid #cccc;
    border-radius: 5px;
}
.img-thumb-x128{
    max-width: 128px;
}
.img-thumb-y128{
    max-height: 128px;
}

img[src*=".rtf"] {
    display: none;
}

img[src*=".rtf"]>div::before {
    content: attr(src);
    display: block;
    width: 100px;
}
